span.t1{
      padding-top:20px;
      padding-bottom:10px;
      font-weight:bold;
      font-size:30px;
      display: table;
      margin: 0 auto;
      font-family:"Garamond", serif;
      background: linear-gradient(to left,
                    #C7B390,
                    #5DA8FE);
      -webkit-background-clip: text;
      color: transparent;
    }
/* */
div.t1{
      padding-bottom:10px;
      font-weight:bold;
      font-size:25px;
      text-align:center;
      font-family:"Garamond", serif;
}
/* */
hr.line {
    padding: 0;
    border: 1px solid;
    color: #333;
    text-align: center;
}
/* */
.box {
    background-color:teal;
    width:100px;
    height:30px;
    position:absolute;
    left: 40%;
    bottom:90%;
    padding-top:20px;

}
